<% settings = Setting.plugin_like_plugin %>
<% if settings[:location] == 'mainarea' %>
  <%= render(:partial => 'like/common/facebook',
             :locals => { :url => canonical_url_for(:controller => 'projects', :action => 'show', :id => project) }) %>
<% end %>
