<% settings = Setting.plugin_like_plugin %>
<% if settings[:location] == 'sidebar' %>
  <p>
    <%= render(:partial => 'like/common/facebook',
               :locals => { :url => canonical_url_for(:controller => 'projects', :action => 'show', :id => project) }) %>
  </p>
<% end %>
